<ul>
    <li class="first current_page_item">
        <a href="{{ path('app_game_show') }}">Game</a>
    </li>
    <li>
        <a href="{{ path('app_user_register') }}">Register</a>
    </li>
    <li>
        <a href="{{ path('app_user_login') }}">Login</a>
    </li>
    <li>
        <a href="{{ path('app_default_contact') }}">Contact Us</a>
    </li>
</ul>
<br class="clearfix" />